@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground antialiased;
  /* Grille millimétrée subtile en fond pour guider l'œil */
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #111 1px, transparent 1px),
    linear-gradient(to bottom, #111 1px, transparent 1px);
}

/* Utilitaires pour le style Suisse */
.border-swiss {
  @apply border-t border-white;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}