@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

body {
  background-color: #FFFFFF; /* Fond blanc */
  color: #000000;
  /* Suppression de cursor: crosshair pour revenir à un curseur standard objectif */
}

/* Suppression de .noise-overlay (Le style Suisse déteste le faux décor) */

/* Utilitaires de grille */
.swiss-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  background-color: #E5E5E5; /* Couleur des lignes de grille */
  border: 1px solid #E5E5E5;
}

.swiss-grid-item {
  background-color: #FFFFFF;
  padding: 1.5rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}